.tablinknya-tugas-ujian{
    position: absolute; 
    background-color: #FFFFFF;
    width: 100vw;
}

.tab button {
    background-color: inherit;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #C4C4C4;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #e5e3e3;
}

.avatar.avatar-60.bg-image-modal{
    background-color: #5153FF;
}

.modal-body .image-preview{
    display: flex;
    justify-content: center;
    align-items:center;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.modal-footer{
    height: 15%;
}

.avatar-upload {
    width: 100%;
    height: 100%;
  }

  .avatar-upload .avatar-edit {
    position: absolute;
    /* right: 12px; */
    z-index: 1;
    /* top: 10px; */
    top: 47%;
    left: 29%;  
  }
  .avatar-upload .avatar-edit input {
    display: none;
  }
  .avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 150px;
    height: 45px;
    margin-bottom: 0;
    background: #ec3528;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
  }
  .avatar-upload .avatar-edit input + label:hover {
    background: transparent;
    box-shadow: none;
    /* border-color: #d6d6d6; */
  }
  .avatar-upload .avatar-edit input + label:after {
    /* content: "\f040"; */
    content: "Pilih Gambar";
    font-family: 'FontAwesome';
    font-weight: 400;
    color: #FFFFFF;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
  }

  .avatar-upload .avatar-edit input + label:hover::after {
    content: "ï„";
    color: #C4C4C4;
    top: -15px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .avatar-upload .avatar-preview {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: relative;
    border: 2px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #upload-file {
    display:none;
}